@charset "UTF-8";
/* ---- VARIABLES ---- */
/* Tamaños */
/* Colores */
/* Porcentajes */
/* ---- IMPORTS GENERALES ---- */
/* IMPORT RESET */
/* ---- RESET CSS ---- */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

html, body {
  height: 100%;
  width: auto;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  column-gap: 20px;
  min-height: 50vh;
}

/* IMPORT HEADER */
/* ---- Header ---- */
#header {
  grid-area: header;
}
#header #hdNavBar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 3px rgb(44, 42, 42) solid;
  align-items: center;
}
#header #hdNavBar .hdNavSection {
  padding: 10px 15px;
}
#header #hdNavBar .hdNavSection .hdNavSectImg {
  width: 250px;
}
#header #hdNavBar .navbar-nav {
  text-align: center;
}
#header #hdNavBar .navbar-nav .hdNavUlLi {
  margin-bottom: 20px;
}
#header #hdNavBar .navbar-nav .hdNavUlLi .hdNavUlLiA {
  font-size: 25px;
  color: #F7C683;
  text-decoration: none;
}

/* IMPORT MAIN */
/* ---- Main ---- */
#main {
  grid-area: main;
  background-color: black;
}
#main .mnArtSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
#main .mnArtSect .mnArtSectP {
  text-align: justify;
}
#main .mnArtForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 15px;
}
#main .mnArtForm .mnArtFmLabel, #main .mnArtForm .mnArtFmInput, #main .mnArtForm .mnArtFmButton {
  grid-column: 2/3;
  margin: 2px 5px;
  padding-top: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
}
#main .mnArtForm .mnArtFmInput, #main .mnArtForm .mnArtFmButton {
  color: black;
}
#main .mnArtForm .mnArtFmButton {
  display: inline-flex;
  justify-content: center;
  color: rgb(223, 221, 221);
  background-color: rgb(8, 75, 8);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 20px 30%;
}
#main .mnSectSeguimiento .mnSectH1 {
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  padding: 5px 15px;
  color: yellow;
  margin-top: 10px;
  padding-bottom: 10px;
}
#main .mnSectSeguimiento .mnSectH2 {
  font-size: 23px;
  text-align: center;
  text-decoration: underline;
  padding: 5px 15px;
  color: red;
  margin-top: 10px;
  padding-bottom: 10px;
}
#main .mnSectSeguimiento .mnSectH3 {
  font-size: 19px;
  text-align: center;
  text-decoration: underline;
  padding: 5px 15px;
  color: orange;
}
#main .mnSectSeguimiento .mnSectP {
  font-size: 17px;
  text-align: center;
  padding: 5px 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* IMPORT FOOTER */
/* ----  Footer ---- */
#footer {
  grid-area: footer;
  background-color: black;
  border-top: 3px rgb(44, 42, 42) solid;
}
#footer .ftTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
#footer .ftTop .ftTopSectH1 {
  border-radius: 50%;
  background-image: radial-gradient(circle, yellow, orange, red);
  color: black;
  text-align: center;
}
#footer .ftTop .ftTopSectLink {
  margin: 10px 5px;
  padding-left: 10px;
}
#footer .ftBottom {
  display: flex;
  border-top: 3px rgb(44, 42, 42) solid;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
#footer .ftBottom .ftBottomSectLink {
  margin: 10px 5px;
  padding-left: 10px;
}
#footer .ftBottom .ftBottomSectP, #footer .ftBottom .ftBottomSectLink i {
  color: #F7C683;
}

/* ---- IMPORTS PAGES ---- */
/* IMPORT INDEX */
/* ---- INDEX ---- */
.mnArtSect .mnArtSectH1 {
  font-size: 50px;
  text-decoration: underline;
  color: orange;
  text-align: center;
}
.mnArtSect .mnSectArtCamioneta {
  font-size: 40px;
  text-decoration: underline;
  color: #F7C683;
}
.mnArtSect .mnArtSectDiv {
  display: flex;
  flex-direction: column;
  /* ELementos Prohibidos */
  /* Carrusel de Ducato */
  /* Carrusel de Fiorino */
  /* Carrusel de Iveco */
  /* Carrusel de  Sprinter */
}
.mnArtSect .mnArtSectDiv .mnArtSectP {
  font-size: 20px;
  text-align: justify;
}
.mnArtSect .mnArtSectDiv .imgProductosProhibidos {
  width: 50%;
  align-self: center;
  height: auto;
  margin: 180px;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
}
.mnArtSect .mnArtSectDiv .imgProductosProhibidos:hover {
  transform: scale(1.3);
}
.mnArtSect .mnArtSectDiv #carouselExampleFade {
  max-width: 750px;
  height: auto;
  align-self: center;
}
.mnArtSect .mnArtSectDiv #carouselExampleFade #mnArtSctDivDivCarousel {
  width: 750px;
  height: auto;
}
.mnArtSect .mnArtSectDiv #carouselExampleFade #mnArtSctDivDivCarousel .mnArtSectDivImgCarousel {
  border-radius: 30px;
  padding: 20px;
}
.mnArtSect .mnArtSectDiv #carouselExampleFade .mnArtSectDivbtn {
  background-color: black;
}
.mnArtSect .mnArtSectDiv #carouselExampleIndicators {
  max-width: 750px;
  height: auto;
  align-self: center;
}
.mnArtSect .mnArtSectDiv #carouselExampleIndicators #mnArtSctDivDivCarouselIndicators {
  width: 750px;
  height: auto;
}
.mnArtSect .mnArtSectDiv #carouselExampleIndicators #mnArtSctDivDivCarouselIndicators .mnArtSectDivImgCarousel {
  padding: 20px;
}
.mnArtSect .mnArtSectDiv #carouselExampleIndicators .mnArtSectDivbtn {
  background-color: black;
}
.mnArtSect .mnArtSectDiv #carouselExample {
  max-width: 750px;
  height: auto;
  align-self: center;
}
.mnArtSect .mnArtSectDiv #carouselExample #mnArtSctDivDivCarouselSlide {
  width: 750px;
  height: auto;
}
.mnArtSect .mnArtSectDiv #carouselExample #mnArtSctDivDivCarouselSlide .mnArtSectDivImgCarousel {
  border-radius: 30px;
  padding: 20px;
}
.mnArtSect .mnArtSectDiv #carouselExample .mnArtSectDivbtn {
  background-color: black;
}
.mnArtSect .mnArtSectDiv #carouselExampleRide {
  max-width: 750px;
  height: auto;
  align-self: center;
}
.mnArtSect .mnArtSectDiv #carouselExampleRide #mnArtSctDivDivCarouselRide {
  width: 750px;
  height: auto;
}
.mnArtSect .mnArtSectDiv #carouselExampleRide #mnArtSctDivDivCarouselRide .mnArtSectDivImgCarousel {
  border-radius: 30px;
  padding: 20px;
}
.mnArtSect .mnArtSectDiv #carouselExampleRide .mnArtSectDivbtn {
  background-color: black;
}

/* IMPORT ABOUT */
/* ---- ABOUT ---- */
.aboutMnH1 {
  text-align: center;
  text-decoration: underline;
  margin: 15px 0;
  color: blue;
}

.mnSectVideo {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.mnSectVideo #aboutVideo {
  width: 75%;
  height: auto;
}

.mnSectTarjetas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  margin: 25px 0;
  padding: 15px;
}
.mnSectTarjetas #danielScianca {
  grid-column: 1;
}
.mnSectTarjetas #jeremiasScianca {
  grid-column: 2;
}
.mnSectTarjetas #mateoGonzalez {
  grid-column: 3;
}
.mnSectTarjetas .card {
  background-color: black;
  width: 100%;
  height: auto;
  border: 2px grey solid;
}
.mnSectTarjetas .card .card-text {
  color: white;
  text-align: justify;
}
.mnSectTarjetas .card .card-title {
  color: azure;
  text-decoration: underline;
}
.mnSectTarjetas .card .btn-secondary {
  background-color: red;
}

.mnSectH1OMVS {
  text-decoration: underline;
  font-size: 25px;
  color: rgb(134, 81, 81);
  padding-left: 15px;
}

.aboutMnSectP, .mnSectPOMVS {
  font-size: 15px;
  padding: 0 20px 0 15px;
  text-align: justify;
}

/* IMPORT HELP */
/* ---- HELP ---- */
.helpMnSection .mnArtFmTextArea {
  grid-column: 2/3;
  margin: 2px 5px;
  padding-top: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  height: 200px;
  width: auto;
  color: black;
}
.helpMnSection .helpMnSectP {
  padding: 20px;
  text-align: center;
  color: #F7C683;
}

/* ---- RESPONSIVE ---- */
/* IMPORT EXTRA SMALL */
/* ----  Extra Small ---- */
@media (max-width: 575px) {
  /* ---- HEADER ---- */
  #header #hdNavBar div {
    display: flex;
    flex-direction: column;
  }
  #header #hdNavBar div .hdNavSection {
    padding: 5px;
  }
  #header #hdNavBar div .hdNavSection .hdNavSectImg {
    width: 150px;
    height: auto;
  }
  #header #hdNavBar div .hdNavSection .hdNavSectP {
    text-align: center;
    padding: 0;
  }
  #header #hdNavBar div .hdNavSection .navbar-toggler-icon {
    width: 20px;
  }
  #header #hdNavBar div .hdNavSection .offcanvas-body .navbar-nav .hdNavUlLiA {
    font-size: 15px;
  }
  /* ---- MAIN ---- */
  /* ---- General ---- */
  #main .mnArtSectP {
    padding: 0 10px;
  }
  #main .mnArtForm {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    gap: 2px;
  }
  #main .mnArtForm .mnArtFmLabel, #main .mnArtForm .mmnArtFmInput, #main .mnArtForm .mnArtFmButton {
    font-size: 12px;
    margin: 2px;
    padding: 2px;
  }
  #main .mnArtForm .mnArtFmTextArea {
    height: 100px;
    font-size: 100px;
  }
  #main .mnArtForm .mnArtFmButton {
    display: inline-flex;
    justify-content: center;
    color: rgb(223, 221, 221);
    background-color: rgb(8, 75, 8);
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 20px 30%;
  }
  /* ---- Index ---- */
  #main .mnArtSectH1 {
    font-size: 35px;
  }
  #main .mnArtSect {
    /* Imagen Productos Prohibidos */
    /* ---- Ducato ---- */
    /* ---- Fiorino ---- */
    /* ---- Iveco ---- */
    /* ---- Sprinter ---- */
  }
  #main .mnArtSect .mnSectArtCamioneta {
    font-size: 30px;
    text-align: center;
  }
  #main .mnArtSect .mnArtSectP {
    font-size: 16px;
  }
  #main .mnArtSect .imgProductosProhibidos {
    width: 75%;
    margin: 50px;
  }
  #main .mnArtSect #carouselExampleFade {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleFade #mnArtSctDivDivCarousel {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExampleIndicators {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleIndicators #mnArtSctDivDivCarouselIndicators {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExample {
    width: 90%;
  }
  #main .mnArtSect #carouselExample #mnArtSctDivDivCarouselSlide {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExampleRide {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleRide #mnArtSctDivDivCarouselRide {
    width: 100%;
    height: auto;
  }
  /* ---- About ---- */
  #main .mnSectTarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 20px;
  }
  #main .mnSectH1OMVS {
    font-size: 18px;
  }
  #main .mnSectPOMVS {
    font-size: 13px;
  }
  /* ---- Help ---- */
  #main .helpMnSectP {
    margin-bottom: 0;
    text-align: justify;
  }
  /* ---- Seguimiento ---- */
  #main .mnSectSeguimiento .mnSectH1, #main .mnSectSeguimiento .mnSectH2, #main .mnSectSeguimiento .mnSectH3, #main .mnSectSeguimiento .mnSectP {
    text-align: center;
  }
  #main .mnSectSeguimiento .mnSectH1 {
    font-size: 22px;
  }
  #main .mnSectSeguimiento .mnSectH2 {
    font-size: 19px;
  }
  #main .mnSectSeguimiento .mnSectH3 {
    font-size: 15px;
  }
  #main .mnSectSeguimiento .mnSectP {
    font-size: 12px;
  }
  /* ---- FOOTER ---- */
  #footer .ftTop, #footer .ftBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
  #footer .ftTop .ftTopSectH1, #footer .ftTop .ftBottomSectP, #footer .ftBottom .ftTopSectH1, #footer .ftBottom .ftBottomSectP {
    text-align: center;
    padding: 0 10px;
  }
  #footer .ftBottom {
    padding: 15px 0 15px 0;
  }
}
/* IMPORT SMALL */
/* ----  Small ---- */
@media (min-width: 576px) and (max-width: 767px) {
  /* ---- HEADER ---- */
  #header #hdNavBar div {
    display: flex;
    flex-direction: column;
  }
  #header #hdNavBar div .hdNavSection {
    padding: 5px;
  }
  #header #hdNavBar div .hdNavSection .hdNavSectImg {
    width: 150px;
    height: auto;
  }
  #header #hdNavBar div .hdNavSection .hdNavSectP {
    text-align: center;
    padding: 0;
  }
  #header #hdNavBar div .hdNavSection .navbar-toggler-icon {
    width: 20px;
  }
  #header #hdNavBar div .hdNavSection .hdNavUlLiA {
    font-size: 15px;
  }
  /* ---- MAIN ---- */
  /* ---- General ---- */
  .mnArtForm {
    display: flex;
    flex-direction: column;
    margin: 10px 150px;
    gap: 2px;
  }
  .mnArtForm .mnArtFmLabel, .mnArtForm .mnArtFmInput, .mnArtForm .mnArtFmButton {
    font-size: 14px;
    margin: 2px;
    padding: 2px;
  }
  .mnArtForm .mnArtFmTextArea {
    height: 100px;
    font-size: 14px;
  }
  .mnArtForm .mnArtFmButton {
    display: inline-flex;
    justify-content: center;
    color: rgb(223, 221, 221);
    background-color: rgb(8, 75, 8);
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 4px;
    margin: 18px 30%;
  }
  .mnArtSectP {
    padding: 0 10px;
  }
  /* ---- Index ---- */
  #main .mnArtSectH1 {
    font-size: 40px;
  }
  #main .mnArtSect {
    /* Imagen Productos Prohibidos */
    /* ---- Ducato ---- */
    /* ---- Fiorino ---- */
    /* ---- Iveco ---- */
    /* ---- Sprinter ---- */
  }
  #main .mnArtSect .mnSectArtCamioneta {
    font-size: 35px;
    text-align: center;
  }
  #main .mnArtSect .mnArtSectP {
    font-size: 19px;
  }
  #main .mnArtSect .imgProductosProhibidos {
    width: 75%;
    margin: 50px;
  }
  #main .mnArtSect #carouselExampleFade {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleFade #mnArtSctDivDivCarousel {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExampleIndicators {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleIndicators #mnArtSctDivDivCarouselIndicators {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExample {
    width: 90%;
  }
  #main .mnArtSect #carouselExample #mnArtSctDivDivCarouselSlide {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExampleRide {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleRide #mnArtSctDivDivCarouselRide {
    width: 100%;
    height: auto;
  }
  /* ---- About ---- */
  #aboutVideo {
    width: 90%;
  }
  .mnSectTarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
  }
  .mnSectH1OMVS {
    font-size: 18px;
  }
  .mnSectPOMVS {
    font-size: 13px;
  }
  /* ---- Help ---- */
  .helpMnSectP {
    margin-bottom: 0;
    text-align: justify;
  }
  /* ---- Seguimiento ---- */
  .mnSectH1, .mnSectH2, .mnSectH3, .mnSectP {
    text-align: center;
  }
  .mnSectH1 {
    font-size: 24px;
  }
  .mnSectH2 {
    font-size: 22px;
  }
  .mnSectH3 {
    font-size: 20px;
  }
  .mnSectP {
    font-size: 15px;
  }
  /* ---- FOOTER ---- */
  #footer .ftBottom {
    padding: 15px 0 15px 0;
  }
  #footer .ftTop, #footer .ftBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #footer .ftTop .ftTopSectH1, #footer .ftTop .ftBottomSectP, #footer .ftBottom .ftTopSectH1, #footer .ftBottom .ftBottomSectP {
    text-align: center;
    padding: 0 10px;
  }
}
/* IMPORT MEDIUM */
/* ----  Medium ---- */
@media (min-width: 768px) and (max-width: 991px) {
  /* ---- HEADER ---- */
  #header .hdNavSection {
    padding: 5px;
  }
  #header .hdNavSection .hdNavSectP {
    text-align: center;
    font-size: 17px;
    padding: 0;
  }
  #header .hdNavSection .hdNavSectImg {
    width: 250px;
    height: auto;
  }
  #header .hdNavSection .navbar-toggler-icon {
    width: 25px;
  }
  #header .hdNavSection .hdNavUlLiA {
    font-size: 18px;
  }
  /* ---- MAIN ---- */
  /* ---- General ---- */
  .mnArtForm {
    display: flex;
    flex-direction: column;
    margin: 10px 150px;
    gap: 2px;
  }
  .mnArtForm .mnArtFmLabel, .mnArtForm .mnArtFmInput, .mnArtForm .mnArtFmButton {
    font-size: 14px;
    margin: 2px;
    padding: 2px;
  }
  .mnArtForm .mnArtFmTextArea {
    height: 100px;
    font-size: 10px;
  }
  /* ---- Index ---- */
  #main .mnArtSectH1 {
    font-size: 40px;
  }
  #main .mnArtSect {
    /* Imagen Productos Prohibidos */
    /* ---- Ducato ---- */
    /* ---- Fiorino ---- */
    /* ---- Iveco ---- */
    /* ---- Sprinter ---- */
  }
  #main .mnArtSect .mnSectArtCamioneta {
    font-size: 35px;
    text-align: center;
  }
  #main .mnArtSect .mnArtSectP {
    font-size: 20px;
  }
  #main .mnArtSect .imgProductosProhibidos {
    width: 65%;
    margin: 60px;
  }
  #main .mnArtSect #carouselExampleFade {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleFade #mnArtSctDivDivCarousel {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExampleIndicators {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleIndicators #mnArtSctDivDivCarouselIndicators {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExample {
    width: 90%;
  }
  #main .mnArtSect #carouselExample #mnArtSctDivDivCarouselSlide {
    width: 100%;
    height: auto;
  }
  #main .mnArtSect #carouselExampleRide {
    width: 90%;
  }
  #main .mnArtSect #carouselExampleRide #mnArtSctDivDivCarouselRide {
    width: 100%;
    height: auto;
  }
  /* ---- Seguimiento ---- */
  .mnSectH2, .mnSectH3, .mnSectP {
    text-align: center;
  }
  .mnSectH1 {
    font-size: 23px;
  }
  .mnSectH2 {
    font-size: 20px;
  }
  .mnSectP {
    font-size: 17px;
  }
  /* ---- About ---- */
  #aboutVideo {
    width: 90%;
  }
  .aboutMnSectP {
    padding: 0 20px;
  }
  .mnSectTarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mnSectTarjetas #danielScianca, .mnSectTarjetas #jeremiasScianca, .mnSectTarjetas #mateoGonzalez {
    width: 90%;
    height: auto;
  }
  /* ---- FOOTER ---- */
  #footer .ftBottom {
    padding: 15px 0 15px 0;
  }
  #footer .ftTop, #footer .ftBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #footer .ftTop .ftTopSectH1, #footer .ftTop .ftBottomSectP, #footer .ftBottom .ftTopSectH1, #footer .ftBottom .ftBottomSectP {
    text-align: center;
    padding: 0;
  }
}
/* IMPORT LARGE */
/* ----  Large ---- */
@media (min-width: 992px) and (max-width: 1119px) {
  /* ---- HEADER ---- */
  #header #hdNavBar {
    display: flex;
    align-items: center;
  }
  #header #hdNavBar .hdNavSectP {
    text-align: center;
    font-size: 18px;
    padding: 0;
  }
  #header #hdNavBar .hdNavSectImg {
    width: 200px;
    height: auto;
  }
  #header #hdNavBar .navbar-nav .hdNavUlLi .hdNavUlLiA {
    font-size: 25px;
  }
  /* ---- MAIN ---- */
  /* ---- General ---- */
  #main .mnArticle .mnArtForm {
    display: flex;
    flex-direction: column;
    margin: 10px 200px;
    padding: 0 100px;
    gap: 2px;
  }
  #main .mnArticle .mnArtForm .mnArtFmLabel, #main .mnArticle .mnArtForm .mnArtFmInput, #main .mnArticle .mnArtForm .mnArtFmButton {
    font-size: 16px;
    margin: 2px;
    padding: 2px;
  }
  #main .mnArticle .mnArtForm .mnArtFmTextArea {
    height: 100px;
    font-size: 16px;
  }
  #main .mnArticle .mnArtForm .mnArtFmButton {
    display: inline-flex;
    justify-content: center;
    color: rgb(223, 221, 221);
    background-color: rgb(8, 75, 8);
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 20px 30%;
  }
  /* ---- Index ---- */
  #main .imgProductosProhibidos {
    width: 65%;
    margin: 80Px;
  }
  #main #carouselExampleFade {
    width: 100%;
  }
  #main #carouselExampleFade #mnArtSctDivDivCarousel {
    width: 100%;
  }
  /* ---- Seguimiento ---- */
  .mnSectH1 {
    font-size: 25px;
  }
  .mnSectH2, .mnSectH3, .mnSectP {
    text-align: center;
  }
  .mnSectH2 {
    font-size: 22px;
  }
  .mnSectH3 {
    font-size: 19px;
  }
  .mnSectP {
    font-size: 17px;
  }
  /* ---- About ---- */
  #aboutVideo {
    width: 90%;
  }
  .mnSectTarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mnSectTarjetas #danielScianca, .mnSectTarjetas #jeremiasScianca, .mnSectTarjetas #mateoGonzalez {
    width: 90%;
    height: auto;
  }
  /* ---- FOOTER ---- */
  #footer .ftBottom {
    padding: 15px 0 15px 0;
  }
  #footer .ftTop, #footer .ftBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #footer .ftTop .ftTopSectH1, #footer .ftTop .ftBottomSectP, #footer .ftTop .ftTopSectP, #footer .ftBottom .ftTopSectH1, #footer .ftBottom .ftBottomSectP, #footer .ftBottom .ftTopSectP {
    text-align: center;
    padding: 0;
  }
}
/* IMPORT EXTRA LARGE */
/* ----  Extra Large ---- */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* ---- Main ---- */
  /* ---- Index ---- */
  #main {
    /* Imagen Productos Prohibidos */
  }
  #main .imgProductosProhibidos {
    width: 75%;
    margin: 100px;
  }
  /* ---- Seguimiento ---- */
  #main .mnSectH2, #main .mnSectH3, #main .mnSectP {
    text-align: center;
  }
  /* ---- ABOUT ---- */
  #main .mnArtSectH1, #main .mnArtSectP {
    padding-left: 15px;
  }
  #main .mnSectTarjetas {
    display: flex;
    width: fit-content;
    margin: 10px 50px;
  }
  #main #aboutVideo {
    width: 1050px;
  }
}
/* IMPORT EXTRA EXTRA LARGE */
/* ----  Extra Extra Large ---- */
@media (min-width: 1400px) {
  /* ---- HEADER ---- */
  #header .hdNavSectImg {
    width: 250;
  }
  #header .hdNavUlLiA {
    font-size: 18px;
  }
  #header .hdNavSectP {
    font-size: 18px;
  }
  /* ---- MAIN ---- */
  /* ---- General ---- */
  #main .mnSectH1 {
    font-size: 40px;
  }
  #main .mnSectH2 {
    font-size: 35px;
    margin-left: 20px;
  }
  #main .mnSectH3 {
    font-size: 30px;
  }
  #main .mnSectP {
    font-size: 20px;
  }
  #main .mnArtSectP {
    margin: 20px;
  }
  /* ---- Seguimiento ---- */
  /* ---- About ---- */
  #main #aboutVideo {
    width: 1200px;
  }
  #main .mnSectTarjetas {
    display: flex;
    width: fit-content;
    margin: 10px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
