/* ---- VARIABLES ---- */


/* Tamaños */

$tamano2Px: 2px;
$tamano3Px: 3px;
$tamano4Px: 4px;
$tamano5Px: 5px;
$tamano10Px: 10px;
$tamano12Px: 12px;
$tamano13Px: 13px;
$tamano14Px: 14px;
$tamano15Px: 15px;
$tamano16Px: 16px;
$tamano17Px: 17px;
$tamano18Px: 18px;
$tamano19Px: 19px;
$tamano20Px: 20px;
$tamano22Px: 22px;
$tamano23Px: 23px;
$tamano24Px: 24px;
$tamano25Px: 25px;
$tamano30Px: 30px;
$tamano35Px: 35px;
$tamano40Px: 40px;
$tamano50Px: 50px;
$tamano60Px: 60px;
$tamano100Px: 100px;
$tamano150Px: 150px;
$tamano180Px: 180px;
$tamano200Px: 200px;
$tamano250Px: 250px;
$tamano750Px: 750px;
$tamano1050Px: 1050px;
$tamano1200Px: 1200px;

$VH50: 50vh;

$docientoCincuenta: 250;


/* Colores */

$colorAzul: blue;
$colorGris: grey;
$colorAzure: azure;
$colorBlack: black;
$colorRed: red;
$colorOMVS: rgb(134, 81, 81);
$colorHelpMnSectP: #F7C683;
$colorFmButton: rgb(223, 221, 221);
$colorFmButtonBack: rgb(8, 75, 8);
$colorAmarillo: yellow;
$colorNaranja: orange;
$colorBlanco: white;
$colorGrisOscuro: rgb(44, 42, 42);


/* Porcentajes */

$treinta: 30%;
$cincuentaPorCiento: 50%;
$sesentaYCincoPorCiento: 65%;
$setentaYCinco: 75%;
$noventaPorCiento: 90%;
$cienPorCiento: 100%;


/* --- MIXINS ---- */

@mixin border-style($width, $color) {
    border-bottom: $width solid $color;
}

/* ---- IMPORTS GENERALES ---- */

/* IMPORT RESET */
@import "estilo-principal/reset";

/* IMPORT HEADER */
@import "estilo-principal/header";

/* IMPORT MAIN */
@import "estilo-principal/main";

/* IMPORT FOOTER */
@import "estilo-principal/footer";

/* ---- IMPORTS PAGES ---- */

/* IMPORT INDEX */
@import "estilo-principal/estilos-paginas/estilos-index/index";

/* IMPORT ABOUT */
@import "estilo-principal/estilos-paginas/estilos-about/about";

/* IMPORT HELP */
@import "estilo-principal/estilos-paginas/estilos-help/help";

/* ---- RESPONSIVE ---- */

/* IMPORT EXTRA SMALL */
@import "estilo-principal/estilos-responsive/extraSmall";

/* IMPORT SMALL */
@import "estilo-principal/estilos-responsive/small";

/* IMPORT MEDIUM */
@import "estilo-principal/estilos-responsive/medium";

/* IMPORT LARGE */
@import "estilo-principal/estilos-responsive/large";

/* IMPORT EXTRA LARGE */
@import "estilo-principal/estilos-responsive/extraLarge";

/* IMPORT EXTRA EXTRA LARGE */
@import "estilo-principal/estilos-responsive/extraExtraLarge";