/* IMPORT RESET */
@import "estilo-principal/reset";

/* IMPORT HEADER */
@import "estilo-principal/header";

/* IMPORT FOOTER */
@import "estilo-principal/footer";


/* ---- Main ---- */

#main {
    grid-area: main ;
    background-color: rgb(2, 2, 2);
}

.mnArtSect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.mnArtForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 15px;
}

.mnArtSectP {
    text-align: justify;
}

.mnArtFmLabel, .mnArtFmInput, .mnArtFmButton {
    grid-column: 2 / 3;
    margin: 2px 5px;
    padding-top: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

.mnArtFmInput, .mnArtFmButton {
    color: black;
}

.mnArtFmButton {
    display: inline-flex;
    justify-content: center;
    color: rgb(223, 221, 221);
    background-color: rgb(8, 75, 8);
    font-size: 16px; 
    text-align: center;
    cursor: pointer;
    padding: 5px 10px; 
    border-radius: 4px; 
    margin: 20px 30%;
}

.mnSectH1, .mnSectH2, .mnSectP {
    margin-top: 10px;
    padding-bottom: 10px;
}

.mnSectH1 {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    padding: 5px 15px;
    color: yellow;
}

.mnSectH2 {
    font-size: 23px;
    text-align: justify;
    text-decoration: underline;
    padding: 5px 15px;
    color: red;
}

.mnSectH3 {
    font-size: 19px;
    text-align: justify;
    text-decoration: underline;
    padding: 5px 15px;
    color: orange;
}

.mnSectP {
    font-size: 17px;
    text-align: justify;
    padding: 5px 15px;
}

/* ---- INDEX ---- */

#carouselExampleFade {
    max-width: 750px;
    height: auto;
    align-self: center;
}

#mnArtSctDivDivCarousel {
    width: 750px;
    height: auto;
}

#mnArtSectDivbtn {
    background-color: black;
}

#mnArtSectDivImgCarousel{
    border-radius: 30px;
    padding: 20px;
}

/* ---- ABOUT ---- */

#aboutVideo {
    width: 75%;
    height: auto;
}

.mnSectVideo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.mnSectTarjetas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin: 25px 0;
    padding: 15px;
}

.card {
    background-color: grey;
    width: 100%;
    height: auto;
}

#danielScianca {
    grid-column: 1;
}

#jeremiasScianca {
    grid-column: 2;
}

#mateoGonzalez {
    grid-column: 3;
}

.card-text {
    color: black;
}

.btn-secondary {
    background-color: red;
}

.aboutMnH1 {
    text-align: center;
    text-decoration: underline;
    margin: 15px 0;
    color: blue;
}

.mnSectH1OMVS {
    text-decoration: underline;
    font-size: 25px;
    color: rgb(134, 81, 81);
    padding-left: 15px;
}

.aboutMnSectP, .mnSectPOMVS {
    font-size: 15px;
    padding: 0 20px 0 15px;
    text-align: justify;
}

.card-title {
    color: azure;
    text-decoration: underline;
}

.card-text {
    text-align: justify;
}

/* ---- HELP ---- */

.mnArtFmTextArea {
    grid-column: 2 / 3;
    margin: 2px 5px;
    padding-top: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    height: 200px;
    width: auto;
    color: black;
} 

.helpMnSectP {
    padding: 20px;
    text-align: center;
    color: #F7C683;
}

/* ---- LOGIN ---- */

/* ---- SEGUIMIENTO ---- */

/* ---- SING UP ---- */

/* ----  RESPONSIVE ---- */

/* ----  Extra Small ---- */

@media (max-width: 575px) {

    /* ---- HEADER ---- */

    p {
        padding: 10px;
        text-align: justify;
        padding-right: 15px;
    }

    #hdNavBar div {
        display: flex;
        flex-direction: column;
    }

    .hdNavSection {
        padding: 5px;
    }

    .hdNavSectImg {
        width: 150px;
        height: auto;
    }

    .hdNavSectP {
        text-align: center;
        padding: 0;
    }

    .navbar-toggler-icon {
        width: 20px;
    }

    .hdNavUlLiA {
        font-size: 15px;
    }

    /* ---- MAIN ---- */

    /* ---- General ---- */

    .mnArtForm {
        display: flex;
        flex-direction: column;
        margin: 15px 15px;
        gap: 2px;
    }
    
    .mnArtFmLabel, .mmnArtFmInput, .mnArtFmButton {
        font-size: 12px;
        margin: 2px;
        padding: 2px;
    }

    .mnArtFmTextArea {
        height: 100px;
        font-size: 10px;
    }

    .mnArtFmButton {
        display: inline-flex;
        justify-content: center;
        color: rgb(223, 221, 221);
        background-color: rgb(8, 75, 8);
        text-align: center;
        cursor: pointer;
        padding: 5px 10px; 
        border-radius: 4px; 
        margin: 20px 30%;
    }

    .mnArtSectP {
        padding: 0 10px;
    }

    /* ---- Index ---- */

    #carouselExampleFade {
        width: 90%;
    }


    #mnArtSctDivDivCarousel {
        width: 100%;
    }

    /* ---- About ---- */

    .mnSectTarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px 20px;
    }

    .mnSectH1OMVS {
        font-size: 18px;
    }

    .mnSectPOMVS {
        font-size: 13px;
    }

    /* ---- Help ---- */

    .helpMnSectP {
        margin-bottom: 0;
        text-align: justify;
    }

    /* ---- Seguimiento ---- */

    .mnSectH1, .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    .mnSectH1 {
        font-size: 22px;
    }

    .mnSectH2 {
        font-size: 19px;
    }

    .mnSectH3 {
        font-size: 15px;
    }

    .mnSectP {
        font-size: 12px;
    }

    /* ---- FOOTER ---- */

    .ftTop, .ftBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ftBottom {
        padding: 15px 0 15px 0;
    }

    .ftTopSectH1, .ftBottomSectP {
        text-align: center;
        padding: 0 10px;
    }
}

/* ----  Small ---- */

@media (min-width: 576px) and (max-width: 767px) {
    
        /* ---- HEADER ---- */

        p {
            padding: 10px;
            text-align: justify;
            padding-right: 15px;
        }
    
        #hdNavBar div {
            display: flex;
            flex-direction: column;
        }
    
        .hdNavSection {
            padding: 5px;
        }
    
        .hdNavSectImg {
            width: 150px;
            height: auto;
        }
    
        .hdNavSectP {
            text-align: center;
            padding: 0;
        }
    
        .navbar-toggler-icon {
            width: 20px;
        }
    
        .hdNavUlLiA {
            font-size: 15px;
        }
    
        /* ---- MAIN ---- */
    
        /* ---- General ---- */
    

        .mnArtForm {
            display: flex;
            flex-direction: column;
            margin: 10px 60px;
            gap: 2px;
        }
    
        .mnArtFmLabel, .mnArtFmInput, .mnArtFmButton{
            font-size: 14px;
            margin: 2px;
            padding: 2px;
        }
    
        .mnArtFmTexArea {
            height: 100px;
            font-size: 14px;
        }
    
        .mnArtFmButton {
            display: inline-flex;
            justify-content: center;
            color: rgb(223, 221, 221);
            background-color: rgb(8, 75, 8);
            text-align: center;
            cursor: pointer;
            padding: 5px 10px; 
            border-radius: 4px; 
            margin: 20px 30%;
        }       
    
        .mnArtSectP {
            padding: 0 10px;
        }
    
        /* ---- Index ---- */
        
        #carouselExampleFade {
            width: 100%;
        }

        #mnArtSctDivDivCarousel {
            width: 100%;
        }

        /* ---- About ---- */
    
        #aboutVideo {
            width: 90%;
        }
        .mnSectTarjetas {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 20px;
        }
    
        .mnSectH1OMVS {
            font-size: 18px;
        }
    
        .mnSectPOMVS {
            font-size: 13px;
        }
    
        /* ---- Help ---- */
    
        .helpMnSectP {
            margin-bottom: 0;
            text-align: justify;
        }
    
        /* ---- Seguimiento ---- */
    
        .mnSectH1, .mnSectH2, .mnSectH3, .mnSectP {
            text-align: center;
        }
    
        .mnSectH1 {
            font-size: 24px;
        }
    
        .mnSectH2 {
            font-size: 22px;
        }
    
        .mnSectH3 {
            font-size: 20px;
        }
    
        .mnSectP {
            font-size: 15px;
        }
    
        /* ---- FOOTER ---- */
    
        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .ftBottom {
            padding: 15px 0 15px 0;
        }
    
        .ftTopSectH1, .ftBottomSectP {
            text-align: center;
            padding: 0 10px;
        }

}

/* ----  Medium ---- */

@media (min-width: 768px) and (max-width: 991px) {

        /* ---- HEADER ---- */

        .hdNavSectP {
            text-align: center;
            font-size: 17px;
            padding: 0;
        }
    
        .hdNavSection {
            padding: 5px;
        }
    
        .hdNavSectImg {
            width: 250px;
            height: auto;
        }

        .navbar-toggler-icon {
            width: 25px;
        }

        .hdNavUlLiA{
            font-size: 18px;
        }
    
        /* ---- MAIN ---- */
    
        /* ---- General ---- */
    
        .mnArtForm {
            display: flex;
            flex-direction: column;
            margin: 10px 150px;
            gap: 2px;
        }
        .mnArtFormLabel, .mnArtFormInput, .mnArtFormButton{
            font-size: 10px;
            margin: 2px;
            padding: 2px;
        }
    
        .mnArtFormTextArea {
            height: 100px;
            font-size: 10px;
        }  

        /* ---- Index ---- */

        #carouselExampleFade {
            width: 100%;
        }

        #mnArtSctDivDivCarousel {
            width: 100%;
        }

        /* ---- Seguimiento ---- */

        .mnSectH2, .mnSectH3, .mnSectP {
            text-align: center;
        }

        .mnSectH1 {
            font-size: 23px;
        }

        .mnSectH2 {
            font-size: 20px;
        }

        .mnSectP {
            font-size: 17px;
        }

        /* ---- About ---- */

        #aboutVideo {
            width: 90%;
        }

        .aboutMnSectP {
            padding: 0 20px;
        }
    
        .mnSectTarjetas {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #danielScianca, #jeremiasScianca, #mateoGonzalez {
            width: 90%;
            height: auto;
        }
    
        /* ---- FOOTER ---- */
    
        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .ftBottom {
            padding: 15px 0 15px 0;
        }
    
        .ftTopSectH1, .ftBottomSectP {
            text-align: center;
            padding: 0;
        }
}

/* ----  Large ---- */

@media (min-width: 992px) and (max-width: 1119px) {

        /* ---- HEADER ---- */
    
        #hdNavBar {
            display: flex;
            align-items: center;
        }
    
        .hdNavSectP {
            text-align: center;
            font-size: 18px;
            padding: 0;
        }
    
        .hdNavSectImg {
            width: 200px;
            height: auto;
        }
    
        .hdNavUlLiA {
            font-size: 18px;
        }
    
        /* ---- MAIN ---- */
    
        /* ---- General ---- */
        
        .mnArtForm {
            display: flex;
            flex-direction: column;
            margin: 10px 200px;
            padding: 0 100px;
            gap: 2px;
        }
        .mnArtFormLabel, .mnArtFormInput, .mnArtFormButton {
            font-size: 16px;
            margin: 2px;
            padding: 2px;
        }
    
        .mnArtFormTextArea {
            height: 100px;
            font-size: 16px;
        }
    
        .mnArtFormButton {
            display: inline-flex;
            justify-content: center;
            color: rgb(223, 221, 221);
            background-color: rgb(8, 75, 8);
            text-align: center;
            cursor: pointer;
            padding: 5px 10px; 
            border-radius: 4px; 
            margin: 20px 30%;
        }

    
        .main__section--h4 {
            padding: 5px 25px;
        }
    
        .main__section--parrafo {
            padding: 0 20px;
        }

        /* ---- Index ---- */

        #carouselExampleFade {
            width: 100%;
        }

        #mnArtSctDivDivCarousel {
            width: 100%;
        }

        /* ---- Seguimiento ---- */

        .mnSectH1 {
            font-size: 25px;
        }

        .mnSectH2, .mnSectH3, .mnSectP {
            text-align: center;
        }

        .mnSectH2 {
            font-size: 22px;
        }

        .mnSectH3 {
            font-size: 19px;
        }

        .mnSectP {
            font-size: 17px;
        }
    
        /* ---- About ---- */

        #aboutVideo {
            width: 90%;
        }
    
        .mnSectTarjetas {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #danielScianca, #jeremiasScianca, #mateoGonzalez {
            width: 90%;
            height: auto;
        }
    
        /* ---- FOOTER ---- */
    
        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .ftBottom {
            padding: 15px 0 15px 0;
        }
    
        .ftTopSectH1, .ftBottomSectP, .ftTopSectP {
            text-align: center;
            padding: 0;
        }

}

/* ----  Extra Large ---- */

@media (min-width: 1200px) and (max-width: 1399px) {

    /* ---- Main ---- */

    /* ---- Seguimiento ---- */

        /* ---- Seguimiento ---- */

        .mnSectH2, .mnSectH3, .mnSectP {
            text-align: center;
        }

    /* ---- ABOUT ---- */

    .mnArtSectH1, .mnArtSectP {
        padding-left: 15px;
    }

    .mnSectTarjetas {
        display: flex;
        width: fit-content;
        margin: 10px 50px;
    }

    #aboutVideo {
        width: 1050px;
    }

}

/* ----  Extra Extra Large ---- */

@media (min-width: 1400px) {

    /* ---- HEADER ---- */

    .hdNavSectImg {
        width: 250;
    }

    .hdNavUlLiA {
        font-size: 18px;
    }

    .hdNavSectP {
        font-size: 18px;
    }

    /* ---- MAIN ---- */

    /* ---- General ---- */
    
    .mnSectH1 {
        font-size: 40px;
    }

    .mnSectH2 {
        font-size: 35px;
        margin-left: 20px;
    }

    .mnSectH3 {
        font-size: 30px;
    }

    .mnSectP {
        font-size: 20px;
    }

    .mnArtSectP {
        margin: 20px;
    }

    /* ---- Seguimiento ---- */

    .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    /* ---- About ---- */

    #aboutVideo {
        width: 1200px;
    }

    .mnSectTarjetas {
        display: flex;
        width: fit-content;
        margin: 10px 50px;
    }
    
}