/* ----  Footer ---- */

#footer {
    grid-area: footer;
    background-color: $colorBlack;
    border-top: $tamano3Px $colorGrisOscuro solid;

    .ftTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $tamano15Px;

        .ftTopSectLink {
            margin: $tamano10Px $tamano5Px;
            padding-left: $tamano10Px;
        }
    }

    .ftBottom {
        display: flex;
        border-top: $tamano3Px $colorGrisOscuro solid;
        align-items: center;
        justify-content: center;
        padding-top: $tamano15Px;

        .ftBottomSectLink {
            margin: $tamano10Px $tamano5Px;
            padding-left: $tamano10Px;
        }

        .ftBottomSectP, .ftBottomSectLink i {
            color: $colorHelpMnSectP;
        } 
    }
}