/* ---- Header ---- */

#header {
    grid-area: header;

    #hdNavBar {

        @include border-style($tamano3Px, $colorGrisOscuro);

        display: flex;
        justify-content: space-between;
        background-color: $colorBlack; 
        align-items: center;   

        .hdNavSection {
            padding: $tamano10Px $tamano15Px;

            .hdNavSectImg {
                width: $tamano250Px;
            }
        }

        .navbar-nav {
            text-align: center;

            .hdNavUlLi{
                margin-bottom: $tamano20Px;

                .hdNavUlLiA {
                    font-size: $tamano25Px;
                    color: $colorHelpMnSectP;
                    text-decoration: none;
                } 
            }
        }
    }
}











