/* ---- Main ---- */

#main {
    grid-area: main ;
    background-color: $colorBlack;

    .mnArtSect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $tamano20Px;

        .mnArtSectP {
            text-align: justify;
        }
    }

    .mnArtForm {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $tamano10Px;
        margin: $tamano15Px;
        transition: $unSegundo;
        border-radius: $tamano15Px;

        .mnArtFmLabel, .mnArtFmInput, .mnArtFmButton {
            grid-column: 2 / 3;
            margin: $tamano2Px $tamano5Px;
            padding-top: $tamano3Px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: justify;
        }
        
        .mnArtFmInput, .mnArtFmButton {
            color: $colorBlack;
        }
        
        .mnArtFmButton {
            display: inline-flex;
            justify-content: center;
            color: $colorFmButton;
            background-color: $colorFmButtonBack;
            font-size: $tamano16Px; 
            text-align: center;
            cursor: pointer;
            padding: $tamano5Px $tamano10Px; 
            margin: $tamano20Px $treinta;
        }
    }
    

    .mnArtForm:hover {
        margin: $tamano35Px;
        transition: $unSegundo;
        box-shadow: white $tamano15Px $tamano30Px $tamano450Px $tamano12Px;
    }
    

    .mnSectSeguimiento {
        
        .mnSectH1 {
            font-size: $tamano25Px;
            text-decoration: underline;
            text-align: center;
            padding: $tamano5Px $tamano15Px;
            color: $colorAmarillo;
            margin-top: $tamano10Px;
            padding-bottom: $tamano10Px;
        }
        
        .mnSectH2 {
            font-size: $tamano23Px;
            text-align: center;
            text-decoration: underline;
            padding: $tamano5Px $tamano15Px;
            color: $colorRed;
            margin-top: $tamano10Px;
            padding-bottom: $tamano10Px;
        }
        
        .mnSectH3 {
            font-size: $tamano19Px;
            text-align: center;
            text-decoration: underline;
            padding: $tamano5Px $tamano15Px;
            color: $colorNaranja;
        }
        
        .mnSectP {
            font-size: $tamano17Px;
            text-align: center;
            padding: $tamano5Px $tamano15Px;
            margin-top: $tamano10Px;
            padding-bottom: $tamano10Px;
        }  
    }
}









