/* ---- ABOUT ---- */

.aboutMnH1 {
    text-align: center;
    text-decoration: underline;
    margin: $tamano15Px 0;
    color: $colorAzul;
}

.mnSectVideo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $tamano15Px;

    #aboutVideo {
        width: $setentaYCinco;
        height: auto;
    } 
}

.mnSectTarjetas {
    width: $cienPorCiento;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $tamano30Px;
    justify-items: center;
    margin: $tamano25Px 0;
    padding: $tamano15Px;

    #danielScianca {
        grid-column: 1;
    }
    
    #jeremiasScianca {
        grid-column: 2;
    }
    
    #mateoGonzalez {
        grid-column: 3;
    }

    .card {
        background-color: $colorBlack;
        width: $cienPorCiento;
        height: auto;
        border: $tamano2Px $colorGris solid;



        .card-text {
            color: $colorBlanco;
            text-align: justify;
        }

        .card-title {
            color: $colorAzure;
            text-decoration: underline;
        }

        .btn-secondary {
            background-color: $colorRed;
        } 
    }
}

.mnSectH1OMVS {
    text-decoration: underline;
    font-size: $tamano25Px;
    color: $colorOMVS;
    padding-left: $tamano15Px;
}

.aboutMnSectP, .mnSectPOMVS {
    font-size: $tamano15Px;
    padding: 0 $tamano20Px 0 $tamano15Px;
    text-align: justify;
}

