/* ---- INDEX ---- */

#carouselExampleFade {
    max-width: $tamano750Px;
    height: auto;
    align-self: center;

    #mnArtSctDivDivCarousel {
        width: $tamano750Px;
        height: auto;

        #mnArtSectDivImgCarousel{
            border-radius: $tamano30Px;
            padding: $tamano20Px;
        }
    }

    #mnArtSectDivbtn {
        background-color: $colorBlack; 
    } 
}