/* ---- INDEX ---- */

#carouselExampleFade {
    max-width: 750px;
    height: auto;
    align-self: center;

    #mnArtSctDivDivCarousel {
        width: 750px;
        height: auto;

        #mnArtSectDivImgCarousel{
            border-radius: 30px;
            padding: 20px;
        }
    }

    #mnArtSectDivbtn {
        background-color: black;
    }
}