/* ---- HELP ---- */

.helpMnSection {
    
    .mnArtFmTextArea {
        grid-column: 2 / 3;
        margin: 2px 5px;
        padding-top: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        height: 200px;
        width: auto;
        color: black;
    } 
    
    .helpMnSectP {
        padding: 20px;
        text-align: center;
        color: #F7C683;
    } 
}
