/* ---- HELP ---- */

.helpMnSection {
    
    .mnArtFmTextArea {
        grid-column: 2 / 3;
        margin: $tamano2Px $tamano5Px;
        padding-top: $tamano3Px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        height: $tamano200Px;
        width: auto;
        color: $colorBlack;
    } 
    
    .helpMnSectP {
        padding: $tamano20Px;
        text-align: center;
        color: $colorHelpMnSectP;
    } 
}
