/* ----  Extra Small ---- */

@media (max-width: 575px) {

    /* ---- HEADER ---- */

    #header {

        #hdNavBar div {
            display: flex;
            flex-direction: column;

            .hdNavSection {
                padding: $tamano5Px;

                .hdNavSectImg {
                    width: $tamano150Px;
                    height: auto;
                }

                .hdNavSectP {
                    text-align: center;
                    padding: 0;
                }

                .navbar-toggler-icon {
                    width: $tamano20Px;
                }
                
                .offcanvas-body {

                    .navbar-nav {

                        .hdNavUlLiA {
                            font-size: $tamano15Px;
                        } 

                    }
                }
            }
        }

    }

    /* ---- MAIN ---- */

    /* ---- General ---- */

    #main {

        .mnArtSectP {
            padding: 0 $tamano10Px;
        }

        .mnArtForm {
            display: flex;
            flex-direction: column;
            margin: $tamano15Px $tamano15Px;
            gap: $tamano2Px;

            .mnArtFmLabel, .mmnArtFmInput, .mnArtFmButton {
                font-size: $tamano12Px;
                margin: $tamano2Px;
                padding: $tamano2Px;
            }
        
            .mnArtFmTextArea {
                height: $tamano100Px;
                font-size: $tamano100Px;
            }
        
            .mnArtFmButton {
                display: inline-flex;
                justify-content: center;
                color: $colorFmButton;
                background-color: $colorFmButtonBack;
                text-align: center;
                cursor: pointer;
                padding: $tamano5Px $tamano10Px; 
                border-radius: $tamano4Px; 
                margin: $tamano20Px $treinta;
            }
        }

    }

    /* ---- Index ---- */

    #main {

        #carouselExampleFade {
            width: $noventaPorCiento;
    
            #mnArtSctDivDivCarousel {
                width: $cienPorCiento;
            }
        }

    }

    /* ---- About ---- */

    #main {

        .mnSectTarjetas {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $tamano3Px $tamano20Px;
        }
    
        .mnSectH1OMVS {
            font-size: $tamano18Px;
        }
    
        .mnSectPOMVS {
            font-size: $tamano13Px;
        }

    }

    /* ---- Help ---- */

    #main {

        .helpMnSectP {
            margin-bottom: 0;
            text-align: justify;
        }

    }

    /* ---- Seguimiento ---- */

    #main {

        .mnSectSeguimiento {

            .mnSectH1, .mnSectH2, .mnSectH3, .mnSectP {
                text-align: center;
            }
        
            .mnSectH1 {
                font-size: $tamano22Px;
            }
        
            .mnSectH2 {
                font-size: $tamano19Px;
            }
        
            .mnSectH3 {
                font-size: $tamano15Px;
            }
        
            .mnSectP {
                font-size: $tamano12Px;
            }
            
        }

    }     

    /* ---- FOOTER ---- */

    #footer {

        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: $tamano12Px;
    
            .ftTopSectH1, .ftBottomSectP {
                text-align: center;
                padding: 0 $tamano10Px;
            }
        }
    
        .ftBottom {
            padding: $tamano15Px 0 $tamano15Px 0;
        }
    }
    
}