/* ----  Extra Large ---- */

@media (min-width: 1200px) and (max-width: 1399px) {

    /* ---- Main ---- */

    /* ---- Seguimiento ---- */

    .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    /* ---- ABOUT ---- */

    .mnArtSectH1, .mnArtSectP {
        padding-left: 15px;
    }

    .mnSectTarjetas {
        display: flex;
        width: fit-content;
        margin: 10px 50px;
    }

    #aboutVideo {
        width: 1050px;
    }

}