/* ----  Extra Large ---- */

@media (min-width: 1200px) and (max-width: 1399px) {

    /* ---- Main ---- */

    /* ---- Seguimiento ---- */

    #main {

        .mnSectH2, .mnSectH3, .mnSectP {
            text-align: center;
        }

    }

    /* ---- ABOUT ---- */

    #main {

        .mnArtSectH1, .mnArtSectP {
            padding-left: $tamano15Px;
        }
    
        .mnSectTarjetas {
            display: flex;
            width: fit-content;
            margin: $tamano10Px $tamano50Px;
        }
    
        #aboutVideo {
            width: $tamano1050Px;
        } 
    }



}