/* ----  Extra Extra Large ---- */

@media (min-width: 1400px) {

    /* ---- HEADER ---- */
    #header {

        .hdNavSectImg {
            width: $docientoCincuenta;
        }
    
        .hdNavUlLiA {
            font-size: $tamano18Px;
        }
    
        .hdNavSectP {
            font-size: $tamano18Px;
        }
    }


    /* ---- MAIN ---- */

    /* ---- General ---- */
    
    #main { 

        .mnSectH1 {
            font-size: $tamano40Px;
        }
    
        .mnSectH2 {
            font-size: $tamano35Px;
            margin-left: $tamano20Px;
        }
    
        .mnSectH3 {
            font-size: $tamano30Px;
        }
    
        .mnSectP {
            font-size: $tamano20Px;
        }
    
        .mnArtSectP {
            margin: $tamano20Px;
        }

    }
    

    /* ---- Seguimiento ---- */


    /* ---- About ---- */

    #main {
        
        #aboutVideo {
            width: $tamano1200Px;
        }
    
        .mnSectTarjetas {
            display: flex;
            width: fit-content;
            margin: $tamano10Px $tamano50Px;
        }

    }
    
}