/* ----  Large ---- */

@media (min-width: 992px) and (max-width: 1119px) {

    /* ---- HEADER ---- */

    #hdNavBar {
        display: flex;
        align-items: center;
    }

    .hdNavSectP {
        text-align: center;
        font-size: 18px;
        padding: 0;
    }

    .hdNavSectImg {
        width: 200px;
        height: auto;
    }

    .hdNavUlLiA {
        font-size: 18px;
    }

    /* ---- MAIN ---- */

    /* ---- General ---- */
    
    .mnArtForm {
        display: flex;
        flex-direction: column;
        margin: 10px 200px;
        padding: 0 100px;
        gap: 2px;
    }
    .mnArtFormLabel, .mnArtFormInput, .mnArtFormButton {
        font-size: 16px;
        margin: 2px;
        padding: 2px;
    }

    .mnArtFormTextArea {
        height: 100px;
        font-size: 16px;
    }

    .mnArtFormButton {
        display: inline-flex;
        justify-content: center;
        color: rgb(223, 221, 221);
        background-color: rgb(8, 75, 8);
        text-align: center;
        cursor: pointer;
        padding: 5px 10px; 
        border-radius: 4px; 
        margin: 20px 30%;
    }


    .main__section--h4 {
        padding: 5px 25px;
    }

    .main__section--parrafo {
        padding: 0 20px;
    }

    /* ---- Index ---- */

    #carouselExampleFade {
        width: 100%;
    }

    #mnArtSctDivDivCarousel {
        width: 100%;
    }

    /* ---- Seguimiento ---- */

    .mnSectH1 {
        font-size: 25px;
    }

    .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    .mnSectH2 {
        font-size: 22px;
    }

    .mnSectH3 {
        font-size: 19px;
    }

    .mnSectP {
        font-size: 17px;
    }

    /* ---- About ---- */

    #aboutVideo {
        width: 90%;
    }

    .mnSectTarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #danielScianca, #jeremiasScianca, #mateoGonzalez {
        width: 90%;
        height: auto;
    }

    /* ---- FOOTER ---- */

    .ftTop, .ftBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ftBottom {
        padding: 15px 0 15px 0;
    }

    .ftTopSectH1, .ftBottomSectP, .ftTopSectP {
        text-align: center;
        padding: 0;
    }

}