/* ----  Large ---- */

@media (min-width: 992px) and (max-width: 1119px) {

    /* ---- HEADER ---- */

    #header {

        #hdNavBar {
            display: flex;
            align-items: center;

            .hdNavSectP {
                text-align: center;
                font-size: $tamano18Px;
                padding: 0;
            }

            .hdNavSectImg {
                width: $tamano200Px;
                height: auto;
            }
        
            .navbar-nav {

                .hdNavUlLi {
                    .hdNavUlLiA {
                        font-size: $tamano25Px;
                    }
                }
            }
        }

    }

    /* ---- MAIN ---- */

    /* ---- General ---- */
    
    #main {

        .mnArticle {

            .mnArtForm {
                display: flex;
                flex-direction: column;
                margin: $tamano10Px $tamano200Px;
                padding: 0 $tamano100Px;
                gap: $tamano2Px;
        
                .mnArtFmLabel, .mnArtFmInput, .mnArtFmButton {
                    font-size: $tamano16Px;
                    margin: $tamano2Px;
                    padding: $tamano2Px;
                }
            
                .mnArtFmTextArea {
                    height: $tamano100Px;
                    font-size: $tamano16Px;
                }
            
                .mnArtFmButton {
                    display: inline-flex;
                    justify-content: center;
                    color: $colorFmButton;
                    background-color: $colorFmButtonBack;
                    text-align: center;
                    cursor: pointer;
                    padding: $tamano5Px $tamano10Px; 
                    border-radius: $tamano4Px; 
                    margin: $tamano20Px $treinta;
                }
            }

        }        
    }


    /* ---- Index ---- */

    #carouselExampleFade {
        width: $cienPorCiento;

        #mnArtSctDivDivCarousel {
            width: $cienPorCiento;
        }
    }

    /* ---- Seguimiento ---- */

    .mnSectH1 {
        font-size: $tamano25Px;
    }

    .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    .mnSectH2 {
        font-size: $tamano22Px;
    }

    .mnSectH3 {
        font-size: $tamano19Px;
    }

    .mnSectP {
        font-size: $tamano17Px;
    }

    /* ---- About ---- */

    #aboutVideo {
        width: $noventaPorCiento;
    }

    .mnSectTarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;

        #danielScianca, #jeremiasScianca, #mateoGonzalez {
            width: $noventaPorCiento;
            height: auto;
        }
    }



    /* ---- FOOTER ---- */

    #footer {

        .ftBottom {
            padding: $tamano15Px 0 $tamano15Px 0;
        }
    
        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            .ftTopSectH1, .ftBottomSectP, .ftTopSectP {
                text-align: center;
                padding: 0;
            } 
        }
        
    }
}