/* ----  Medium ---- */

@media (min-width: 768px) and (max-width: 991px) {

    /* ---- HEADER ---- */

    #header {

        .hdNavSection {
            padding: $tamano5Px;

            .hdNavSectP {
                text-align: center;
                font-size: $tamano17Px;
                padding: 0;
            }

            .hdNavSectImg {
                width: $tamano250Px;
                height: auto;
            }

            .navbar-toggler-icon {
                width: $tamano25Px;
            }

            .hdNavUlLiA{
                font-size: $tamano18Px;
            } 
        }

    }

    /* ---- MAIN ---- */

    /* ---- General ---- */

    .mnArtForm {
        display: flex;
        flex-direction: column;
        margin: $tamano10Px $tamano150Px;
        gap: $tamano2Px;

        .mnArtFmLabel, .mnArtFmInput, .mnArtFmButton{
            font-size: $tamano14Px;
            margin: $tamano2Px;
            padding: $tamano2Px;
        }
    
        .mnArtFmTextArea {
            height: $tamano100Px;
            font-size: $tamano10Px;
        }  
    }

    /* ---- Index ---- */

    #main {

        .mnArtSectH1 {
            font-size: $tamano40Px;
        }
        
        .mnArtSect {

            .mnSectArtCamioneta {
                font-size: $tamano35Px;
                text-align: center;
            }

            .mnArtSectP {
                font-size: $tamano20Px;
            }

            /* Imagen Productos Prohibidos */

            .imgProductosProhibidos {
                width: $noventaPorCiento;
            }

            /* ---- Ducato ---- */

            #carouselExampleFade {
                width: $noventaPorCiento;
    
                #mnArtSctDivDivCarousel {
                    width: $cienPorCiento;
                    height: auto;
                }
            }

            /* ---- Fiorino ---- */

            #carouselExampleIndicators {
                width: $noventaPorCiento;
    
                #mnArtSctDivDivCarouselIndicators {
                    width: $cienPorCiento;
                    height: auto;
                }
            }

            /* ---- Iveco ---- */

            #carouselExample {
                width: $noventaPorCiento;
    
                #mnArtSctDivDivCarouselSlide {
                    width: $cienPorCiento;
                    height: auto;
                }
            }

            /* ---- Sprinter ---- */

            #carouselExampleRide {
                width: $noventaPorCiento;
    
                #mnArtSctDivDivCarouselRide {
                    width: $cienPorCiento;
                    height: auto;
                }
            }
        }
    }    

    /* ---- Seguimiento ---- */

    .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    .mnSectH1 {
        font-size: $tamano23Px;
    }

    .mnSectH2 {
        font-size: $tamano20Px;
    }

    .mnSectP {
        font-size: $tamano17Px;
    }

    /* ---- About ---- */

    #aboutVideo {
        width: $noventaPorCiento;
    }

    .aboutMnSectP {
        padding: 0 $tamano20Px;
    }

    .mnSectTarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;

        #danielScianca, #jeremiasScianca, #mateoGonzalez {
            width: $noventaPorCiento;
            height: auto;
        }
    }

    /* ---- FOOTER ---- */

    #footer {
        .ftBottom {
            padding: $tamano15Px 0 $tamano15Px 0;
        }
    
        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .ftTopSectH1, .ftBottomSectP {
                text-align: center;
                padding: 0;
            }
        }
    }
}