
/* ----  Small ---- */

@media (min-width: 576px) and (max-width: 767px) {
    
    /* ---- HEADER ---- */

    #header {
        
        #hdNavBar div {
            display: flex;
            flex-direction: column;
            
            .hdNavSection {
                padding: $tamano5Px;
                
                .hdNavSectImg {
                    width: $tamano150Px;
                    height: auto;
                }

                .hdNavSectP {
                    text-align: center;
                    padding: 0;
                }

                .navbar-toggler-icon {
                    width: $tamano20Px;
                } 

                .hdNavUlLiA {
                    font-size: $tamano15Px;
                }
            }
        }
    }

    /* ---- MAIN ---- */

    /* ---- General ---- */


    .mnArtForm {
        display: flex;
        flex-direction: column;
        margin: $tamano10Px $tamano150Px;
        gap: $tamano2Px;

        .mnArtFmLabel, .mnArtFmInput, .mnArtFmButton{
            font-size: $tamano14Px;
            margin: $tamano2Px;
            padding: $tamano2Px;
        }
    
        .mnArtFmTextArea {
            height: $tamano100Px;
            font-size: $tamano14Px;
        }
    
        .mnArtFmButton {
            display: inline-flex;
            justify-content: center;
            color: $colorFmButton;
            background-color: $colorFmButtonBack;
            text-align: center;
            cursor: pointer;
            padding: $tamano5Px $tamano5Px; 
            border-radius: $tamano4Px; 
            margin: $tamano18Px $treinta;
        } 
    }

    .mnArtSectP {
        padding: 0 $tamano10Px;
    }

    /* ---- Index ---- */
    
    #carouselExampleFade {
        width: $cienPorCiento;

        #mnArtSctDivDivCarousel {
            width: $cienPorCiento;
        }
    }

    /* ---- About ---- */

    #aboutVideo {
        width: $noventaPorCiento;
    }
    .mnSectTarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $tamano5Px $tamano20Px;
    }

    .mnSectH1OMVS {
        font-size: $tamano18Px;
    }

    .mnSectPOMVS {
        font-size: $tamano13Px;
    }

    /* ---- Help ---- */

    .helpMnSectP {
        margin-bottom: 0;
        text-align: justify;
    }

    /* ---- Seguimiento ---- */

    .mnSectH1, .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    .mnSectH1 {
        font-size: $tamano24Px;
    }

    .mnSectH2 {
        font-size: $tamano22Px;
    }

    .mnSectH3 {
        font-size: $tamano20Px;
    }

    .mnSectP {
        font-size: $tamano15Px;
    }

    /* ---- FOOTER ---- */

    #footer {

        .ftBottom {
            padding: $tamano15Px 0 $tamano15Px 0;
        }
    
        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            .ftTopSectH1, .ftBottomSectP {
                text-align: center;
                padding: 0 $tamano10Px;
            }
        }

    }

}