
/* ----  Small ---- */

@media (min-width: 576px) and (max-width: 767px) {
    
    /* ---- HEADER ---- */

    #header {
        
        #hdNavBar div {
            display: flex;
            flex-direction: column;
            
            .hdNavSection {
                padding: 5px;
                
                .hdNavSectImg {
                    width: 150px;
                    height: auto;
                }

                .hdNavSectP {
                    text-align: center;
                    padding: 0;
                }

                .navbar-toggler-icon {
                    width: 20px;
                } 

                .hdNavUlLiA {
                    font-size: 15px;
                }
            }
        }
    }

    /* ---- MAIN ---- */

    /* ---- General ---- */


    .mnArtForm {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        gap: 2px;

        .mnArtFmLabel, .mnArtFmInput, .mnArtFmButton{
            font-size: 14px;
            margin: 2px;
            padding: 2px;
        }
    
        .mnArtFmTextArea {
            height: 300px;
            font-size: 14px;
        }
    
        .mnArtFmButton {
            display: inline-flex;
            justify-content: center;
            color: rgb(223, 221, 221);
            background-color: rgb(8, 75, 8);
            text-align: center;
            cursor: pointer;
            padding: 5px 10px; 
            border-radius: 4px; 
            margin: 20px 30%;
        } 
    }

    .mnArtSectP {
        padding: 0 10px;
    }

    /* ---- Index ---- */
    
    #carouselExampleFade {
        width: 100%;

        #mnArtSctDivDivCarousel {
            width: 100%;
        }
    }

    /* ---- About ---- */

    #aboutVideo {
        width: 90%;
    }
    .mnSectTarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 20px;
    }

    .mnSectH1OMVS {
        font-size: 18px;
    }

    .mnSectPOMVS {
        font-size: 13px;
    }

    /* ---- Help ---- */

    .helpMnSectP {
        margin-bottom: 0;
        text-align: justify;
    }

    /* ---- Seguimiento ---- */

    .mnSectH1, .mnSectH2, .mnSectH3, .mnSectP {
        text-align: center;
    }

    .mnSectH1 {
        font-size: 24px;
    }

    .mnSectH2 {
        font-size: 22px;
    }

    .mnSectH3 {
        font-size: 20px;
    }

    .mnSectP {
        font-size: 15px;
    }

    /* ---- FOOTER ---- */

    #footer {

        .ftBottom {
            padding: 15px 0 15px 0;
        }
    
        .ftTop, .ftBottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            .ftTopSectH1, .ftBottomSectP {
                text-align: center;
                padding: 0 10px;
            }
        }

    }

}